/node_modules
/public/hot
/public/js
composer.lock
/public/storage
/storage/*.key
/public/admin/admin.js
/public/admin/admin.css
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
